@model UPC.TS.Web.Models.ReservaModels
@{
    ViewBag.Title = "Buscar Reservas";
}

<div class="panel panel-default">
    <div class="panel-heading">Filtro(s) Busqueda</div>
    <div class="panel-body">
        @using (Html.BeginForm("BuscarReservas", "Reserva", FormMethod.Post, new { @Id = "frmBuqReservas", @class = "form", role = "form" }))
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(c => c.filtros.CODRES)
                        @Html.TextBoxFor(c => c.filtros.CODRES, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button id="btnBuscarReserva" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                    </div>
                </div>
            </div>            
        }
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Reservas registradas</div>
    <div class="panel-body">
        <table id="tblReservas" class="display upctbgrid" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th class="center" style="width:5%;">&nbsp;</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha Reserva</th>
                    <th>Fecha Salida</th>
                    <th>Horario</th>
                    <th>Tipo Viaje</th>
                    <th>Estado Reserva</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaReservasVista)
                {
                    <tr>
                        <td>
                            @if (item.ESTTRAN.Trim() == "R")
                            {
                                <a class="btn" href="javascript:void(0);" onclick="javascript: SeleccionarReserva(@item.CODRES);"><i class="fa fa-credit-card fa-fw"></i></a>
                            }                            
                        </td>
                        <td>@item.ORITAR</td>
                        <td>@item.DESTAR</td>
                        <td>@item.FECRES</td>
                        <td>@item.FECSALPRO</td>
                        <td>@item.HORSALPRO</td>
                        <td>@item.TIPVIA</td>
                        <td>@(item.ESTTRAN.Equals("R") ? "Reservado" : (item.ESTTRAN.Equals("A") ? "Anulado" : "Pagado"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts {

    <script type="text/javascript" language="javascript">
        function SeleccionarReserva(id)
        {
            document.location = '@Url.Action("PagarReserva", "Reserva")/' + id;
        }

    </script>
}