@using UPC.TS.Infraestructure.Constantes;
@model UPC.TS.Web.Models.ReservaModels
@{
    ViewBag.Title = "Programaciones";
}

@Html.HiddenFor(c => c.filtros.TIPVIA)
@Html.HiddenFor(c=>c.filtros.DESORI)
@Html.HiddenFor(c => c.filtros.DESDES)
@Html.HiddenFor(c => c.filtros.FECSAL)
@Html.HiddenFor(c => c.filtros.FECRET)

<!--VARIABLES DE SELECCION-->
@Html.HiddenFor(c=>c.CODPRO_ORI)
@Html.HiddenFor(c => c.CODPRO_DES)
<!--VARIABLES DE SELECCION-->


<div class="panel panel-default">
    <div class="panel-heading">Rutas Programadas para (@Model.filtros.DESORI - @Model.filtros.DESDES)</div>
    <div class="panel-body">
        <table id="tblProgramacion" class="display upctbgrid" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th class="center" style="width:5%;">&nbsp;</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha Salida</th>
                    <th>Horario</th>
                    <th>Tarifa</th>
                    <th>Servicio</th>
                    <th>Disponible</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaProgramacion)
                {
                    <tr>
                        <td class="center">
                            <center>
                                <input type="radio" name="progOrigen" value='@item.CODPRO' onclick="javascript:selProgOrigen(@item.CODPRO)" />
                            </center>
                        </td>
                        <td>@item.ORITAR</td>
                        <td>@item.DESTAR</td>
                        <td>@item.FECSALPRO</td>
                        <td>@item.HORSALPRO</td>
                        <td>@item.PRETAR</td>
                        <td>@item.NOMTIPSER &nbsp;<a class="btn btn-success"><i class="fa fa-info"></i></a></td>
                        <td>@item.CUPASI</td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
</div>

@if (@Model.filtros.TIPVIA.Equals("I_V")) { 
<div class="panel panel-default">
    <div class="panel-heading">Rutas Programadas para (@Model.filtros.DESDES - @Model.filtros.DESORI)</div>
    <div class="panel-body">
        <table id="tblProgramacionDestino" class="display upctbgrid" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th class="center" style="width:5%;">&nbsp;</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha Salida</th>
                    <th>Horario</th>
                    <th>Tarifa</th>
                    <th>Servicio</th>
                    <th>Disponible</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaProgramacionDestino)
                {
                    <tr>
                        <td class="center">
                            <center>
                                <input type="radio" name="progOrigen" value='@item.CODPRO' onclick="javascript:selProgDestino(@item.CODPRO)" />
                            </center>
                        </td>
                        <td>@item.ORITAR</td>
                        <td>@item.DESTAR</td>
                        <td>@item.FECSALPRO</td>
                        <td>@item.HORSALPRO</td>
                        <td>@item.PRETAR</td>
                        <td>@item.NOMTIPSER &nbsp;<a class="btn btn-success"><i class="fa fa-info"></i></a></td>
                        <td>@item.CUPASI</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

<button id="btnRegresarPrincipal" class="btn pull-right"><i class="fa fa-arrow-left"></i>&nbsp;Regresar</button>
@if (Session[UPC.TS.Infraestructure.Constantes.Sesiones.sessionUsuarioLog] == null) { 
    <button id="btnContinuarRegistro" class="btn btn-primary pull-right"><i class="fa fa-save"></i>&nbsp;Deseo registrarme para continuar</button>
} else { 
    <button id="btnContinuarGenReserva" class="btn btn-primary pull-right"><i class="fa fa-car"></i>&nbsp;Continuar</button>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblProgramacion').dataTable();
            $('#tblProgramacionDestino').dataTable();
            
            //EVENTS
            $("#btnContinuarGenReserva").click(function () { irGenerarReserva(); });
            $("#btnContinuarRegistro").click(function () { irRegistrarse(); });
            $("#btnRegresarPrincipal").click(function () { regresarPrincipal(); });
        });

        function regresarPrincipal(){
            document.location.href = '@Url.Action("Index","Home")';
        }

        function selProgOrigen(valor) {
            $("#CODPRO_ORI").val(valor);
        }

        function selProgDestino(valor) {
            $("#CODPRO_DES").val(valor);
        }

        function irGenerarReserva() {
            var url = '@Url.Action("GenerarReserva","Reserva")'  + "?CODPRO_ORI=" + $("#CODPRO_ORI").val() + "&CODPRO_DES=" + $("#CODPRO_DES").val();
            document.location.href = url;
        }

        function irRegistrarse() {

            if ('@Model.filtros.TIPVIA' != "I_V") {
                if ($("#CODPRO_ORI").val() == "0" || $("#CODPRO_ORI").val() == null || $("#CODPRO_ORI").val() == "") {
                    showNotify('@TitleResponse.alert', "Debe seleccionar una programacion", '@TypeResponse.alert.ToString()');
                } else {
                    var url = '@Url.Action("RegistroUsuario", "Reserva")' + "?CODPRO_ORI=" + TrimString($("#CODPRO_ORI").val()) + "&CODPRO_DES=" + $("#CODPRO_DES").val();
                    document.location.href = url;
                }
            } else {
                if ($("#CODPRO_ORI").val() == "0" || $("#CODPRO_ORI").val() == null || $("#CODPRO_ORI").val() == "") {
                    showNotify('@TitleResponse.alert', "Debe seleccionar una programacion", '@TypeResponse.alert.ToString()');
                } else if ($("#CODPRO_DES").val() == "0" || $("#CODPRO_DES").val() == null || $("#CODPRO_DES").val() == "") {
                    showNotify('@TitleResponse.alert', "Debe seleccionar una programacion", '@TypeResponse.alert.ToString()');
                } else {
                    var url = '@Url.Action("RegistroUsuario", "Reserva")' + "?CODPRO_ORI=" + TrimString($("#CODPRO_ORI").val()) + "&CODPRO_DES=" + $("#CODPRO_DES").val();
                    document.location.href = url;
                }
            }
        }
    </script>   
}