@model UPC.TS.Web.Models.ReservaModels
@{
    ViewBag.Title = "Buscar Reservas";
}

<div class="panel panel-default">
    <div class="panel-heading">Filtro(s) Busqueda</div>
    <div class="panel-body">

        @using (Html.BeginForm("BuscarReservas", "Pasajero", FormMethod.Post, new { @Id = "frmBuqReservas", @class = "form-horizontal", role = "form" }))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(c => c.filtros.CODRES)
                    @Html.TextBoxFor(c => c.filtros.CODRES, new { @class = "form-control" })
                </div>
            </div>
            <button id="btnBuscarReserva" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Buscar</button>
        }
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Reservas registradas</div>
    <div class="panel-body">
        <table id="tblReservas" class="display upctbgrid" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th class="center" style="width:5%;">&nbsp;</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha Reserva</th>
                    <th>Fecha Salida</th>
                    <th>Horario</th>
                    <th>Tipo Viaje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaReservasVista)
                {
                    <tr>
                        <td><a class="btn" href="javascript:void(0);" onclick="javascript: SeleccionarReserva(@item.CODRES);"><i class="fa fa-search"></i></a></td>
                        <td>@item.ORITAR</td>
                        <td>@item.DESTAR</td>
                        <td>@item.FECRES</td>
                        <td>@item.FECSALPRO</td>
                        <td>@item.HORSALPRO</td>
                        <td>@item.TIPVIA</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Pasajeros</div>
    <div class="panel-body">
        <table id="tblPasajeros" class="display upctbgrid" cellspacing="0" style="width:100%;">
            <thead>             
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>DNI</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Celular</th>
                    <th>Nro Telefono</th>
                    <th style="width:5%;">Tipo</th>
                    <th style="width:5%;">Asiento</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="pnlModificarPasajero"></div>

@section scripts {

    <script type="text/javascript" language="javascript">

        function SeleccionarReserva(CODRES) {
            $.ajax({
                url: '@Url.Action("ListarPasajeroPorReserva", "Pasajero")',
                type: 'POST',
                async: true,
                data: { 'CODRES' : CODRES },
                success: function (result) {
                    
                    $("#tblPasajeros tbody").empty();
                    $.each(result, function (ind, va) {
                        var html = "<tr>";
                        html += "<td>";
                        html += "<button type='button' onclick='verPanelPasajero(" + va.CODPAS + ")' class='btn btn'><i class='fa fa-pencil'></i></button>";
                        html += "</td>";
                        html += "<td>";
                        html += "<button type='button' class='btn btn'><i class='fa fa-trash-o'></i></button>";
                        html += "</td>";
                        html += "<td>" + va.NUMDOC + "</td>";
                        html += "<td>" + va.NOMPAS + "</td>";
                        html += "<td>" + va.APEPPAS + " " + va.APEMPAS + "</td>";
                        html += "<td>" + va.CELPAS + "</td>";
                        html += "<td>" + va.TELPAS + "</td>";
                        html += "<td>" + (va.TIPVIA  == "I"  ? "IDA" : "REGRESO" ) + "</td>";
                        html += "<td>" + va.NUMASI_ORI + "</td>";
                        html += "</tr>";
                        $("#tblPasajeros tbody").append(html);
                    });
                },
                error: errorAjax
            });
        }

        function verPanelPasajero(CODPAS) {
            $("#pnlModificarPasajero").load('@Url.Action("ModPasajero", "Pasajero")' + "?CODPAS=" + CODPAS).modal('toggle');
        }

    </script>
}