@model UPC.TS.Web.Models.FiltrosReservaModels

@{
    ViewBag.Title = "Principal";
}

<div class="row">
    <div class="col-md-3">

    <h3 class="text-left"><i class="fa fa-search"></i>&nbsp;Itinerario</h3>

    @using (Html.BeginForm("Programacion", "Reserva", FormMethod.Post, new { @Id="frmBuqItinerario", @class = "form-horizontal", role = "form" }))
    {
        <div class="radio-inline">
            <label>
                @Html.RadioButtonFor(c => c.TIPVIA, "S_I", new { @checked="checked", @onclick="seleccionarTipoVia(this);" }) Solo ida
            </label>
            @Html.ValidationMessageFor(c => c.TIPVIA)
        </div>
        <div class="radio-inline">
            <label>
                @Html.RadioButtonFor(c => c.TIPVIA, "I_V", new { @onclick = "seleccionarTipoVia(this);" }) Ida y vuelta
            </label>
            @Html.ValidationMessageFor(c => c.TIPVIA)
        </div>
        <div class="form-group">
            @Html.LabelFor(c=>c.DESORI)
            @Html.DropDownListFor(c => c.DESORI, Model.LIST_ORI, "Seleccione", new { @Class= "form-control" })
            @Html.ValidationMessageFor(c => c.DESORI)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.DESDES)
            @Html.DropDownListFor(c => c.DESDES, Model.LIST_DES, "Seleccione", new { @Class = "form-control" })
            @Html.ValidationMessageFor(c => c.DESDES)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.FECSAL)
            <div class="input-group date" id="FECSALIDA">
                @Html.TextBoxFor(c => c.FECSAL, new { @Class = "form-control" })
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(c => c.FECSAL)
        </div>
        <div class="form-group" id="content_Retorno" style="display:none;">
            @Html.LabelFor(c => c.FECRET)
            <div class="input-group date" id="FECRETORNO">
                @Html.TextBoxFor(c => c.FECRET, new { @Class = "form-control" })
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(c => c.FECRET)
        </div>
        <div class="form-group">
            <button type="submit" onclick="return formBusItinerarioValido();" class="btn btn-primary"><i class="fa fa-binoculars"></i>&nbsp;Buscar</button>
            <button type="reset" class="btn"><i class="fa fa-stop"></i>&nbsp;Cancelar</button>
        </div>
    }
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>CRUZ DEL SUR</h1>
            <p class="lead">CRUZ DEL SUR is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    CRUZ DEL SUR gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#FECSALIDA').datepicker();
            $('#FECRETORNO').datepicker();
        });

        function seleccionarTipoVia(obj) {
            if ($(obj).val() == "I_V")
                $("#content_Retorno").show();
            else
                $("#content_Retorno").hide();
        }

        function formBusItinerarioValido() {
            var valor = "";
            $("input:radio[name='TIPVIA']").each(function () {
                if ($(this).is(":checked")) 
                    valor = $(this).val();
            });
            $("#frmBuqItinerario").data("validator").settings.ignore = (valor != "I_V")? "#FECRET" : "";

            if (!$("#frmBuqItinerario").valid())
                return false;
        }

    </script>
}